.textos1{
    font-weight: bold !important;
}

.imagem{
    background-image: url(https://i.imgur.com/d5bMdDJ.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    width: 100vh; 
    min-height: 100vh;
}

.text-decorator-none{
    text-decoration: none;
}